.time_display {
    position: absolute;
    width: 80vw;
    height: 40vh;
    top: 30vh;
    left: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ TIME ~~~~~*/
.time_display__time {
    font-size: clamp(1.5rem, var(--fs, 18vmin), 12rem); 
    font-style: var(--fst, normal);
    font-weight: var(--fw, 300);
    color: var(--fc, black);
    font-family: var(--ff, 'Chivo', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif);
}
/*displays 'hs' text after the hour: it doesnt look bad but it's looks depends on the date format*/
/*.time_display__time::after {*/
    /*content: 'hs';*/
    /*font-style: italic;*/
    /*font-size: clamp(1.2125rem, 7vmin, 6rem); */
    /*color: black;*/
/*}*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ DATE ~~~~~*/
.time_display__date {
    font-size: clamp(1.5rem, var(--fs, 10vmin), 12rem); 
    font-style: var(--fst, normal);
    font-weight: var(--fw, 300);
    color: var(--fc, black);
    font-family: var(--ff, 'Chivo', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif);
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ DESCRIPTION ~~~~~*/
.time_display__description {
    font-size: clamp(1.125rem, var(--fs, 4vim), 5rem); 
    color: var(--fc, black);
    font-family: var(--ff, 'Chivo', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif);
}
